.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding: 10px;
  /* padding-right: var(--bs-gutter-x,.75rem); */
  /* padding-left: var(--bs-gutter-x,.75rem); */
  margin-right: auto;
  margin-left: auto;
}
 /* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) { 
  .header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 
  .header{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
  }
   }


/* // Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { 
  .header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
  }
   }

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { 
  .header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
  }
   
 }